<div class="background-wrapper">
  <div class="background-spots"></div>
</div>
<div class="content-container">
  <div class="content">
    <div class="row">
      <div class="col-lg-6 mx-auto wall">
        <h2>Spot</h2>
        <%= simple_form_for @spot, data: {turbo: false} do |f|%>
          <div class="form-inputs">
            <div class="row">
              <div class="col-lg-6">
                <%= f.input :name %>
              </div>
              <div class="col-lg-6">
                <%= f.input :city %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <%= f.input :address %>
              </div>
              <div class="col-lg-6">
                <%= f.association :type %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <%= f.input :active %>
              </div>

            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Créér un spot", class: 'action-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
