<div id="<%= dom_id spot %>">
  <div class="row line align-items-center">
    <div class="col-10 col-lg-4">

        <% if spot.type.present? && spot.name.present? %>
          <% if spot.type.name == 'Brasserie artisanale' %>
            <p class="mb-0">Brasserie <%= spot.name %></p>
          <% else %>
            <p class="mb-0"><%= spot.name %></p>
          <% end %>
        <% end %>

    </div>
    <div class="d-none d-lg-block col-lg-3">

        <% if spot.city.present? %>
          <p class="mb-0"><%= spot.city %></p>
        <% end %>

    </div>
    <div class="d-none d-lg-block col-lg-3">

        <% if spot.active.present? %>
          <% if spot.active? %>
            <p class="mb-0">En activité</p>
          <% else %>
            <p class="mb-0">Cessation d'activité</p>
          <% end %>
        <% end %>

    </div>
    <div class="col-2 col-lg-2">
      <%= link_to "https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination=brasserie #{spot.name}, #{spot.city}, #{spot.zipcode}", target: "_blank", class: "btn btn-link p-0" do %>
        <p><i class="fa-solid fa-location-dot"></i> Go !</p>
      <% end %>
    </div>
  </div>
</div>
