<div id="<%= dom_id spot %>">
  <%= link_to spot_path(spot), data: { turbo: false } do %>
    <div class="row line">
      <div class="col-1">
        <% if spot.name.present? %>
          <%= spot.name %>
        <% end %>
      </div>
      <div class="col-2">
        <% if spot.city.present? %>
          <p><%= spot.city %></p>
        <% end %>
      </div>
      <div class="col-2">
        <% if spot.address.present? %>
          <p><%= spot.address %></p>
        <% end %>
      </div>
      <div class="col-2">
        <% if spot.type.present? %>
          <p><%=spot.type.name %></p>
        <% end %>
      </div>
      <div class="col-2">
        <% if spot.active.present? %>
          <p><%=spot.active%></p>
        <% end %>
      </div>
      <div class="col-1">
        <i class="fa-solid fa-square-caret-right"></i>
      </div>
    </div>
  <% end %>
</div>
