<div class="background-wrapper">
  <div class="background-spots"></div>
</div>
<div class="page">
  <h1 class="title">Spots</h1>
  <p style="color: green"><%= notice %></p>
  <%= form_with(url: spots_path, method: :get, data: {controller: "search-form", turbo_frame: "spots", turbo_action: "advance"}) do |form| %>
    <%= form.label :query, "Recherche par ville:", class: "subtitle" %>
    <div class="actions">
      <div class="first">
        <%= form.text_field :query, class: "search-input", id: "search", data: {action: "input->search-form#search"} %>
        <%= form.submit 'Go !', class: "search-button" %>
      </div>
    </div>
  <% end %>
  <div class="second">
    <%= link_to "Ajouter un spot", new_spot_path, class: "create" %>
  </div>
</div>
<div class="content-container">
  <div class="content">
    <%= render "spots", spots: @spots %>
  </div>
</div>

