<p style="color: green"><%= notice %></p>
<div class="container">
  <h1 class="title">Spots</h1>

  <%= form_with(url: spots_path, method: :get, data: {controller: "search-form", turbo_frame: "spots", turbo_action: "advance"}) do |form| %>
    <%= form.label :query, "recherche par nom:", class: "subtitle" %>
    <div class="">
      <%= form.text_field :query, class: "", id: "search", data: {action: "input->search-form#search"} %>
      <%= form.submit 'Search', class: "" %>
    </div>
  <% end %>

  <!-- render new partial here -->
  <div class="">
    <%= render "spots", spots: @spots %>
  </div>

  <%= link_to "New spot", new_spot_path, class: "" %>
</div>
