<h1>Specificity for <%= @spot.name %></h1>
<p>Snack: <%= @specificity.snack %></p>
<p>Happy Hour: <%= @specificity.happy_hour %></p>
<p>Cheapest Beer: <%= @specificity.cheapest_beer %></p>
<p>Draft Number: <%= @specificity.draft_number %></p>
<%= link_to 'Edit', edit_spot_specificity_path(@spot) %>

