<%= link_to edit_beer_path(beer) do %>
  <div class="card">
    <%= cl_image_tag beer.photo.key, height: 400, width: 300, crop: :fill, class: 'img-fluid card-image' %>
    <h2 class='card-title'><%= beer.name %></h2>
    <h3 class='card-subtitle'>Niveau d'alcool</h3>
    <p class='card-text'><%= beer.level %> % </p>
    <% if beer.yeast.present? %>
      <h3 class='card-subtitle'>Fermentation</h3>
      <p class='card-text'><%= beer.yeast.name %></p>
    <% end %>
    <% if beer.color.present? %>
      <h3 class='card-subtitle'>Couleur</h3>
      <p class='card-text'><%= beer.color.name %></p>
    <% end %>
    <% if beer.taste.present? %>
      <h3 class='card-subtitle'>Goût pricipal</h3>
      <p class='card-text'><%= beer.taste.name %></p>
    <% end %>
    <% if beer.textures.present? %>
      <h3 class='card-subtitle'>Textures</h3>
      <p class='card-text'>
        <% beer.textures.each do |bt|%>
          <%= bt.name %>
        <% end %>
      </p>
    <% end %>
    <% if beer.flavours.present? %>
      <h3 class='card-subtitle'>Arômes</h3>
      <p class='card-text'>
        <% beer.flavours.each do |bf|%>
          <%= bf.name %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
