<div class="background-wrapper">
  <div class="background-beers"></div>
</div>
<div class="page">
  <h1 class="title"><%= beer.name %></h1>
</div>
<div class="content-container">
  <div class="content">
    <div class="container wall">
      <%= link_to edit_beer_path(beer) do %>
        <div class="row">
          <div class="col-6 col-lg-4 card-space mx-auto">
            <%= cl_image_tag beer.photo.key, height: 400, width: 300, crop: :fill, class: 'img-fluid card-image' %>
          </div>
          <div class="col-6 card-space">
            <div class="description">
              <p class='card-subtitle'>Niveau d'alcool : <%= beer.level %> % </p>
              <% if beer.yeast.present? %>
                <p class='card-subtitle'>Fermentation : <%= beer.yeast.name %> </p>
              <% end %>
              <% if beer.color.present? %>
                <p class='card-subtitle'>Couleur : <%= beer.color.name %></p>
              <% end %>
              <% if beer.taste.present? %>
                <p class='card-subtitle'>Goût pricipal : <%= beer.taste.name %></p>
              <% end %>
              <% if beer.textures.present? %>
                <p class='card-subtitle'>Textures :
                <% beer.textures.each do |bt|%>
                  <%= bt.name %>
                <% end %>
                </p>
              <% end %>
              <% if beer.flavours.present? %>
                <p class='card-subtitle'>Arômes :
                  <% beer.flavours.each do |bf|%>
                    <%= bf.name %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="container">
      <div class="row">
        <div class="actions">
          <div class="first"><p class='subtitle'>Où la trouver ?</p></div>
          <div class="second">
            <div class="create" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Ajouter un spot
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if beer.places.any? %>
      <div class="container">
        <% beer.places.each do |place| %>
          <div class="row line">
            <div class="col-lg-2 col-3">
              <% if place.name.present? %>
                <%= place.name %>
              <% end %>
            </div>
            <div class="col-4 col-lg-3 d-none d-lg-block">
              <% if place.address.present? %>
                <p><%= place.address %></p>
              <% end %>
            </div>
            <div class="col-lg-2 col-3">
              <% if place.city.present? %>
                <p><%= place.city.downcase.capitalize %></p>
              <% end %>
            </div>

            <div class="col-lg-2 col-2">
              <% if place.id.present? %>
                <li class="list-group-item"><%= link_to 'Éditer', edit_beer_place_path(@beer, place) %></li>
              <% end %>
            </div>
            <div class="col-lg-2 col-2">
              <% if place.id.present? %>
                <li class="list-group-item"><%= link_to 'Supprimer', beer_place_path(@beer, place), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette place ?' } %></li>
              <% end %>
            </div>
            <div class="col-lg-1 col-2">
              <% unless place.to_coordinates == [nil, nil] %>
                <%= link_to "https://www.google.com/maps/dir/current+location/#{place.to_coordinates.flatten}", target: "_blank" do %>
                  <li class="list-group-item">Y aller </li>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Spot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Nouveau spot</h1>
        <%= simple_form_for [beer, @place] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.submit "Submit place", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
