<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <h1 class='logo-nav'>BEERTRACKR</h1>
    <% end %>
    <div data-bs-toggle="modal" data-bs-target="#browsing">
      <%= image_tag 'burger.png', class: 'burger' %>
    </div>
    <div class="modal fade" id="browsing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% if user_signed_in? %>
              <%= link_to "Home", "#", class: "nav-link" %>
              <%= link_to "Messages", "#", class: "nav-link" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  window.addEventListener('scroll', function() {
    var navbar = document.querySelector('.navbar-lewagon');
    var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    var scrollMax = 900; // Le nombre de pixels sur lequel effectuer la transition
    var opacity = Math.min(scrollTop / scrollMax, 1); // Calcul de l'opacité

    // Créer une couleur rgba basée sur l'opacité calculée
    var backgroundColor = 'rgba(0, 0, 0, ' + opacity + ')';
    navbar.style.backgroundColor = backgroundColor;
  });
</script>
