<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="slogan">
          <h2 class='slogan-text'>Trouve tout simplement ta bière !</h2>
          <%= image_tag 'action.gif', class: 'first-action', id: "scrollImage" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="choices">
  <div class="row">
    <div class="col-lg-6 col-12 mx-auto">
      <div class="subject">
        <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/beertrackr_yzeqwv.jpg', class: 'img-fluid' %>
        <h4 class='category'>BEERTRACKR</h4>
      </div>
    </div>
    <div class="col-lg-6 col-12 mx-auto">
      <%= link_to beers_path do %>
        <div class="subject">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/Beers_zb6ub5.jpg', class: 'img-fluid' %>
          <h4 class='category'>BIÈRES</h4>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12 mx-auto">
      <%= link_to spots_path do %>
        <div class="subject">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/Spots_zllueh.jpg', class: 'img-fluid' %>
          <h4 class='category'>SPOTS</h4>
        </div>
      <% end %>
    </div>
    <div class="col-lg-6 col-12 mx-auto">
      <%= link_to styles_path do %>
        <div class="subject">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/Styles_sepptk.jpg', class: 'img-fluid' %>
          <h4 class='category'>STYLES</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

<script>
    document.getElementById('scrollImage').addEventListener('click', function() {
        document.getElementById('choices').scrollIntoView({ behavior: 'smooth' });
    });
</script>
