<div id="<%= dom_id style %>">
  <%= link_to style_path(style), data: { turbo: false } do %>
    <div class="row line">
      <div class="col-5 col-lg-2">
        <% if style.name.present? %>
          <p><%= style.name %></p>
        <% end %>
      </div>
      <div class="col-3 col-lg-2 d-none d-lg-block">
        <% if style.yeast.present? %>
          <p><%= style.yeast.name %></p>
        <% end %>
      </div>
      <div class="col-3 col-lg-2">
        <% if style.color.present? %>
          <p><%= style.color.name %></p>
        <% end %>
      </div>
      <div class="col-2 d-none d-lg-block">
        <% if style.taste.present? %>
          <p><%=style.taste.name %></p>
        <% end %>
      </div>
      <div class="col-2 d-none d-lg-block">
        <% if style.origin.present? %>
          <p><%=style.origin %></p>
        <% end %>
      </div>
      <div class="col-4 col-lg-1">
        <% if style.level_min.present? && style.level_max.present? %>
          <p><%=style.level_min %> % | <%=style.level_max %> %</p>
        <% end %>
      </div>
      <div class="col-1 d-none d-lg-block">
        <i class="fa-solid fa-square-caret-right"></i>
      </div>
    </div>
  <% end %>
</div>
