<div id="<%= dom_id beer %>">
  <%= link_to beer_path(beer), data: { turbo: false } do %>
    <div class="row line">
      <div class="col-1 d-none d-lg-block">
        <% if beer.photo.present? %>
          <%= cl_image_tag beer.photo.key, height: 30, width: 30, crop: :fill, class: "img-fluid thumbnail" %>
        <% end %>
      </div>
      <div class="col-4 col-lg-2">
        <% if beer.name.present? %>
          <p><%=beer.name%></p>
        <% end %>
      </div>
      <div class="col-2">
        <% if beer.yeast.present? %>
          <p><%=beer.yeast.name%></p>
        <% end %>
      </div>
      <div class="col-2">
        <% if beer.color.present? %>
          <p><%=beer.color.name%></p>
        <% end %>
      </div>
      <div class="col-2">
        <% if beer.level.present? %>
          <p><%=beer.level%> %</p>
        <% end %>
      </div>
      <div class="col-2 d-none d-lg-block">
        <% if beer.taste.present? %>
          <p><%=beer.taste.name %></p>
        <% end %>
      </div>
      <div class="col-1">
        <i class="fa-solid fa-square-caret-right"></i>
      </div>
    </div>
  <% end %>
</div>

