<h1>New place</h1>
<%= simple_form_for [@beer, @place] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.submit "Submit place", class: "btn btn-primary" %>
<% end %>
